//$light: rgb(283,224,220);
$white: #F9F9F9;
$light: rgb(238,224,220);
$brown: #5E5322;
$highlight: rgb(246,181,87);
$highlightNr2: rgb(245,223,77);
$gray: #737373;
$darkgray: rgb(147, 149,151);
$black: #000000;
