@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

$font-base: 'Open Sans', sans-serif;
$font-alt: 'Merriweather', serif;
$base-font-size: 16px;
$title-font-size: 38px;
$title-line-height: 55px;
