.colContainer{
  width: 100%;
  height: 384px;
  background-color: $yellow;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .colContainer__column{
    width: 334px;
    text-align: center;

    h2 {
      margin: 0;
      font-family: $font-base;
      font-size: $base-font-size*5.625;
      line-height: $base-font-size*7.625;
      font-weight: lighter;
    }
    h3 {
      font-family: $font-base;
      font-size: $base-font-size*1.125;
      line-height: $base-font-size*1.876;
      letter-spacing: -0.36px;
      font-weight: normal;
    }
    p{
      font-family: $font-alt;
      font-size: $base-font-size;
      letter-spacing: +0.32px;
      line-height: $base-font-size*1.125;
    }

  }
}