.colContainer{
  width: 100%;
  height: 384px;
  background-color: $yellow;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .colContainer__column{
    width: 334px;
    text-align: center;

    .colContainer__column__text1{
      margin: 0;
      font-size: $base-font-size*5.625;
      line-height: $base-font-size*7.625;

    }
    .colContainer__column__text2 {
      font-size: $base-font-size*1.125;
      line-height: $base-font-size*1.876;
      letter-spacing: -0.36px;
    }
    p{
      font-size: $base-font-size;
      letter-spacing: +0.32px;
      line-height: $base-font-size*1.125;
    }

  }
}