.aboutUs__container {
  width: 100%;
  height: 935px;
  display: flex;
  background-color: $light-gray;

  .aboutUs__info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .aboutUs__info__text{
      font-size: $title-font-size;
      line-height: $title-line-height;;
      letter-spacing: -0.76px;
    }

    .aboutUs__info__decor{
      height: 33px;
      width: 253px;
      display: block;
      align-self: center;
    }

    .aboutUs__info__text2{
      font-size: $base-font-size*1.875;
      line-height: $base-font-size*3.375;
      letter-spacing: -0.6px;
      text-align: center;
    }
    .aboutUs__signature{
      width: 210px;
      height: 149px;
      align-self: flex-end;
      margin-right: 150px;


    }
  }

  .aboutUs__img{
    width: 50%;
    height: 100%;
    background-image: url("../../assets/People.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }


}