//$mob-screen: 768px;
//$screen: 1900px;

body {
  font-family: $font-base;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 1900px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  opacity: 1;
  display: block;
}