body {
  font-family: $font-base;
  max-width: $desktop-width;
}

.mainContainer {
  width: 100vw;
  max-width: $desktop-width;
  background: $white 0 0;
  margin: 0 auto;
  position: relative;
  //border: 0.5px solid $light;
}
