.container{
  width: 100%;
  max-width: $desktop-width;
  height: 325px;
  background-color: $highlight;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .treeColumns{
    width: 334px;
    text-align: center;

    .treeColumns__text1{
      margin: 0;
      font-size: $base-font-size*4;
      line-height: $base-font-size*7.625;

    }
    .treeColumns__text2 {
      font-size: $base-font-size*1.125;
      line-height: $base-font-size*1.875;
      letter-spacing: -0.4px;
      text-transform: uppercase;
      font-weight: bold;
    }
    p{
      font-size: $base-font-size;
      letter-spacing: +0.32px;
      line-height: $base-font-size*1.125;
    }

  }
}