.mainContainer {
  width: 100vw;
  max-width: 1900px;
  background: #FFFFFF 0 0;
  margin: 0 auto;
  position: relative;
  border: 1px solid $yellow;
}

.header__container {
  position: absolute;
  right: 0;
  top: 0;

  .header__nav {
    font-size: $base-font-size*0.875;
    color: $gray;
    padding-top: $base-font-size*2.5;
    display: flex;
    justify-content: flex-end;
    margin-right: 142px;

    .header__nav__el {
      margin-left: $base-font-size*2;
      text-decoration: none;
      color: $black;

      &:hover {
        outline: 0.75px solid $yellow;
        outline-offset: $base-font-size*0.5;
      }
    }
  }

  .header__menu {
    margin-top: 35px;
    display: flex;
    cursor: pointer;
    margin-right: 142px;
    justify-content: flex-end;

    li {
      font-size: $base-font-size*1.125;
      margin-left: $base-font-size*3.5;
      list-style: none;
      text-align: left;

      &:hover {
        outline: 0.75px solid $gray;
        outline-offset: $base-font-size*0.5;
      }
    }
  }
}
