.container__help {
  width: 100%;
  height: 965px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .help__title {
    font-family: $font-base;
    font-size: $title-font-size;
    line-height: $title-line-height;
    margin-bottom: 25px;
    margin-top: 70px;
  }

  .help__decor {
    height: 33px;
    width: 253px;
    display: block;
  }

  .help_menu {
    margin-top: 62px;
    display: flex;
    cursor: pointer;

    .menu__btn {
      width: 208px;
      height: 79px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 30px;

      p {
        font-size: $base-font-size*1.5;
        line-height: $base-font-size*1.5;
        list-style: none;
        text-align: center;
        padding-top: 15px;
      }

      &:hover,
      &.active {
        outline: 0.75px solid $gray;
        outline-offset: 0;
      }

    }
  }

  .help__places .places__text {
    display: none;

    &.active {
      margin-top: 80px;
      width: 640px;
      height: 94px;
      display: block;
      font-size: $base-font-size*1.375;
      line-height: $base-font-size*1.875;
      text-align: center;
    }
  }

  .help__list {
    width: 1344px;
    font-family: $font-alt;

    .list__place {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid $black;

      .place__info {
        width: 650px;
        height: 90px;
        margin-bottom: $base-font-size;

        .info__text1 {
          font-size: $base-font-size * 1.5;
          margin-bottom: 6px;
          margin-top: $base-font-size;
        }

        .info__text2 {
          font-size: $base-font-size*1.125;
          line-height: $base-font-size*1.375;
          margin-top: 0;
        }
      }

      .place__text {
        align-self: center;
      }
    }
    div.list__place:nth-of-type(3),
   div.list__place:last-of-type{
      border-bottom: none;
    }

  }

  .help__page {
    position: absolute;
    display: none;
    bottom: 60px;

    &.active {
      display: block;
    }
  }
}





