
.logContainer {
  width: 100vw;
  max-width: 1900px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background: #FFFFFF 0 0;
  border: 0.5px solid $light-gray;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logContainer__text {
    margin-top: 246px;
    font-size: $title-font-size;
    line-height: $title-line-height;
    letter-spacing: -0.8px;
  }

  .logContainer__decor {
    margin-top: 25px;
    height: 33px;
    width: 253px;
    margin-bottom: 65px;
  }

  .logContainer__log {
    width: 499px;
    height: 418px;

    form {
      display: flex;
      flex-direction: column;

      .logContainer__grey {
        background: $light-gray;
        height: 235px;
        width: 385px;
        align-self: center;

        .logContainer__email,
        .logContainer__password {
          display: flex;
          flex-direction: column;
          margin: 30px 67px 0;

          input {
            border: none;
            border-bottom: 1px solid $gray;
            background: none;
            height: $base-font-size*1.5;
          }
        }
      }
    }
  }

  .logContainer__nav{
    padding-top: 50px;
    width: 504px;
    display: flex;
    justify-content: space-between;

    .logContainer__nav__el, {
      color: $black;
      font-size: $base-font-size*1.125;
      line-height: $base-font-size*2;

      &:hover {
        text-decoration-line: none;
        outline: 0.75px solid $gray;
        outline-offset: $base-font-size*0.5;
      }
    }

    .logContainer__btn{
      font-size: $base-font-size*1.125;
      line-height: $base-font-size*2;

      button {
        border-style: none;
        background: none;
        outline: 0.75px solid $gray;
        outline-offset: $base-font-size*0.75;

        &:hover {
          text-decoration-line: none;
          outline:  0.75px solid $yellow;
        }
      }
    }
  }

.error {
  margin-top: $base-font-size *0.5;
  font-size: $base-font-size *0.9;
  line-height: $base-font-size;
  font-weight: bold;
  color: red;
}
}

