.logoutContainer {
  width: 100vw;
  max-width: 1900px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background: #FFFFFF 0 0;
  border: 0.5px solid $light;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logoutContainer__text {
    margin-top: 246px;
    font-size: $title-font-size;
    line-height: $title-line-height;
    letter-spacing: -0.8px;
    text-align: center;
  }

  .logoutContainer__decor {
    margin-top: 25px;
    height: 33px;
    width: 253px;
    display: block;
    align-self: center;
    margin-bottom: 35px;
  }

  .logoutContainer__nav {
    display: flex;

    .logoutContainer__nav__el{
      color: $black;
      font-size: $base-font-size*1.125;
      line-height: $base-font-size*2;
      width: 160px;
      padding:  13px 18px ;
      border: 0.75px solid $gray;
      text-align: center;

      &:hover {
        text-decoration-line: none;
        border: 0.75px solid $highlight;
      }
    }
  }
  }


