.regContainer {
  width: 100vw;
  max-width: 1900px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background: #FFFFFF 0 0;
  border: 0.5px solid $light;
  display: flex;
  flex-direction: column;
  align-items: center;

  .regContainer__text {
    margin-top: 246px;
    font-size: $title-font-size;
    line-height: $title-line-height;
    letter-spacing: -0.8px;
  }

  .regContainer__decor {
    margin-top: 25px;
    height: 33px;
    width: 253px;
    margin-bottom: 60px;
  }

  .regContainer__reg {
    height: 418px;
    width: 385px;

    form {
      display: flex;
      flex-direction: column;

      .regContainer__grey {
        background: $light;
        height: 328px;
        width: 385px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .regContainer__email,
        .regContainer__password {
          display: flex;
          flex-direction: column;
          margin: 0 67px;

          input {
            border: none;
            border-bottom: 1px solid $gray;
            background: none;
            height: $base-font-size*1.5;
          }
        }
      }
    }
  }
  .regContainer__nav{
    margin-top: 53px;
    width: 504px;
    align-self: center;
    display: flex;
    justify-content: space-between;

    .regContainer__nav__el {
      color: $black;
      font-size: $base-font-size*1.125;
      line-height: $base-font-size*2;

      &:hover {
        text-decoration-line: none;
        outline: 0.75px solid $gray;
        outline-offset: $base-font-size*0.5;
      }
    }

    .regContainer__btn{
      font-size: $base-font-size*1.125;
      line-height: $base-font-size*2;

      button {
        border-style: none;
        background: none;
        outline: 0.75px solid $gray;
        outline-offset: $base-font-size*0.75;

        &:hover {
          text-decoration-line: none;
          outline:  0.75px solid $highlight;
        }
      }
    }
  }
  .error {
    margin-top: $base-font-size *0.5;
    font-size: $base-font-size *0.9;
    line-height: $base-font-size;
    font-weight: bold;
    color: red;
  }
}

