.container__relog {
  width: 100vw;
  max-width: 1900px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background: #FFFFFF 0 0;
  border: 0.5px solid $light;
  display: flex;
  flex-direction: column;
  align-items: center;

  .relog__text {
    margin-top: 220px;
    font-size: $title-font-size;
    line-height: $title-line-height;
    letter-spacing: -0.8px;
    margin-bottom: 0;
  }

  .relog__decor {
    margin-top: $title-font-size;
    width: 253px;
    height: 33px;
    margin-bottom: 0;
  }

  .relog__info {
    height: 418px;
    width: 385px;

    form {
      display: flex;
      flex-direction: column;

      .info__box {
        margin-top: $title-font-size*1.5;
        background: $light;
        height: 300px;
        width: 385px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .box__email,
        .box__password {
          display: flex;
          flex-direction: column;
          margin: 0 67px;

          input {
            border: none;
            border-bottom: 1px solid $gray;
            background: none;
            height: $base-font-size*1.5;
          }
        }
      }
    }
  }

  .info__nav {
    margin-top: 50px;
    width: 504px;
    align-self: center;
    display: flex;
    justify-content: space-between;

    .nav__btn1,
    .nav__btn2 button {
      border-radius: 5px;
      background: none;
      padding: 5px 30px;
      color: $black;
      transition: color .3s, background-color .3s;

      &:hover {
        text-decoration-line: none;
        outline: 0.75px solid $darkgray;
        color: $highlight;
        background-color: $darkgray;
      }
    }

    .nav__btn2 button {
      border-style: none;
      outline-offset: 0;
      outline: 0.75px solid $gray;
      padding: 8px 30px;

      &:hover {
        font-weight: bold;
      }
    }
  }

  .error {
    margin-top: $base-font-size *0.5;
    font-size: $base-font-size *0.8;
    line-height: $base-font-size;
    font-weight: bold;
    color: red;
  }
}
