.section {
  width: 100%;
  height: 965px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;

  .section__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/Home-Image.jpg');
    opacity: 0.5;
    z-index: -1;
  }

  .section__container {
    width: 600px;
    top: $base-font-size*12;
    display: flex;
    flex-direction: column;

    p {
      margin-top:300px ;
      font-size: $title-font-size;
      line-height: $title-line-height;
      text-align: center;
      font-weight: bolder;
      letter-spacing: -0.76px;
    }

    .container__decor {
      height: 33px;
      width: 253px;
      display: block;
      align-self: center;
      margin-bottom: 65px;
    }

    .container__nav {
      display: flex;
      justify-content: space-between;

      .nav__btn {
        width: 250px;
        height: 120px;

        border: 5px solid $light;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .El {
          text-decoration: none;
          font-size: $base-font-size*2.25;
          color: $black;
          font-weight: bold;
        }
      }
    }
  }
}

